@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="css/styles.css?version=1" />
<div id='cssmenu' >
    <ul class="parent-menu">
        <li>
            <ul id="submenu">
                <li><a href="#"><span>CPU Processors</span></a></li>
                <li><a href="#"><span>Motherboard</span></a></li>
                <li><a href="#"><span>Memory</span></a></li>
                <li><a href="#"><span>Hard drives</span></a></li>
                <li><a href="#"><span>Video Cards & video devices</span></a></li>
                <li><a href="#"><span>Power Supplies</span></a></li>
                <li><a href="#"><span>Internal Hard drives</span></a></li>
                <li><a href="#"><span>Flash Memory & readers</span></a></li>
                <li><a href="#"><span>3D Printing</span></a></li>
                <li><a href="#"><span>Cables</span></a></li>
                <li><a href="#"><span>Adapters</span></a></li>
                <li><a href="#"><span>Power Protection</span></a></li>
                <li><a href="#"><span>Hard drive enclosure</span></a></li>
                <li><a href="#"><span>CPU Processors</span></a></li>
                <li><a href="#"><span>Motherboard</span></a></li>
                <li><a href="#"><span>Memory</span></a></li>
                <li><a href="#"><span>Hard drives</span></a></li>
                <li><a href="#"><span>Video Cards & video devices</span></a></li>
                <li><a href="#"><span>Power Supplies</span></a></li>
                <li><a href="#"><span>Internal Hard drives</span></a></li>
                <li><a href="#"><span>Flash Memory & readers</span></a></li>
                <li><a href="#"><span>3D Printing</span></a></li>
                <li><a href="#"><span>Cables</span></a></li>
                <li><a href="#"><span>Adapters</span></a></li>
                <li><a href="#"><span>Power Protection</span></a></li>
                <li><a href="#"><span>Hard drive enclosure</span></a></li>
            </ul>
            <a href='#'><span>Computer Hardware</span></a>
        </li>

        <li>
            <a href='#'><span>Computer & Tablets</span></a>
            <ul id="submenu">
                <li><a href="#"><span>Desktop PCs</span></a></li>
                <li><a href="#"><span>All-in-one PCs</span></a></li>
                <li><a href="#"><span>Gaming Desktops</span></a></li>
                <li><a href="#"><span>Laptops</span></a></li>
                <li><a href="#"><span>Netbooks</span></a></li>
                <li><a href="#"><span>ChromeBooks</span></a></li>
                <li><a href="#"><span>2 in 1 Ultrabooks</span></a></li>
                <li><a href="#"><span>Tablets</span></a></li>
                <li><a href="#"><span>Mobile Workstation</span></a></li>
                <li><a href="#"><span>Keyboards & Mouse</span></a></li>
                <li><a href="#"><span>Chrome Systems</span></a></li>
                <li><a href="#"><span>Laptop Accessories</span></a></li>
                <li><a href="#"><span>Adapters</span></a></li>
            </ul>

        </li>
        <li><a href='#'><span>Electronics</span></a></li>
        <li><a href='#'><span>Software</span></a></li>
        <li><a href='#'><span>Gaming</span></a></li>
        <li><a href='#'><span>Cellphones</span></a></li>
        <li><a href='#'><span>Home & Outdoors</span></a></li>
        <li><a href='#'><span>Health & Beauty</span></a></li>
        <li><a href='#'><span>Automotive</span></a></li>
        <li><a href='#'><span>Sporting Goods</span></a></li>
        <li><a href='#'><span>Watches & Jewelry</span></a></li>
        <li><a href='#'><span>Toys & Pets</span></a></li>
        <li><a href='#'><span>Apparel</span></a></li>
        <li><a href='#'><span>Accessories</span></a></li>
        <li><a href='#'><span>Office Products</span></a></li>
        <li><a href='#'><span>Points of Sale</span></a></li>
        <li class='last'><a href='#'><span>Services & more</span></a></li>
    </ul>
</div>

<!--<div class="jumbotron">
    <h1>ASP.NET Identity</h1>
    <p class="lead">ASP.NET Identity is the membership system for ASP.NET apps. Following are the features of ASP.NET Identity in this sample application.</p>
    <p><a href="http://www.asp.net/identity" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>-->
